.header-container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* center items horizontally */
    margin: 1rem;
    padding-top: 4rem;
    padding-bottom: 8rem;
}

.animated-text {
    display: inline;
}

  
  